  {% paginate collection.products by 48 %}

  <div id="collection-description" class="desktop-12 mobile-3">
    <h1>{{ collection.title }}</h1>
    {{ collection.description }}
  </div>

  <div class="clear"></div>

  {% if settings.filters %}
  <div id="full-width-filter">
    {% include 'filter' %}
  </div>
  {% endif %}


  {% if settings.collection-sidebar %}
	{% include 'collection-sidebar' %}
  {% endif %}


  <div id="product-loop" {% if settings.collection-sidebar %}class="desktop-10 tablet-5 mobile-3"{% endif %}>
    {% for product in collection.products %}
    {% assign products-per-row = settings.products-per-row %}
    <div class="product-index {% if template == 'index' and settings.homepage-product-display == 'carousel' %}{% else %}{% if products-per-row == "6" %}desktop-2{% cycle ' first', '', '', '', '', ' last' %}{% elsif products-per-row == "4" %}desktop-3{% cycle ' first', '', '', ' last' %}{% elsif products-per-row == "3" %}desktop-4{% cycle ' first', '', ' last' %}{% elsif products-per-row == "5" %}desktop-fifth{% cycle ' first', '', '', '', ' last' %}{% elsif products-per-row == "2" %}desktop-6{% cycle ' first', ' last' %}{% endif %} tablet-half mobile-half{% endif %}" data-alpha="{{ product.title }}" data-price="{{ product.price }}">
      {% if settings.product-listing-slider %}
      {% include 'product-listing-slider' %}
      {% else %}
      {% include 'product-listing' %}
      {% endif %}
    </div>
    {% endfor %}
  </div>


    {% include 'pagination' %}


    {% endpaginate %}
